pip install langchain
pip install torch
pip install faiss-cpu
pip install huggingface-hub
pip install pypdf
pip -q install accelerate
pip install llama-cpp-python
pip -q install git+https://github.com/huggingface/transformers
pip install InstructorEmbedding
pip install sentence-transformers==2.2.2
pip install python-dotenv==1.0.0
pip install --upgrade numpy
pip install unstructured
pip install transformers
pip install sentencepiece
pip install accelerate
pip install --upgrade --quiet huggingface_hub
pip install pdfplumber
