{% extends "base.html" %}

{% block content %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an account</h1>
            <form name="signup_form">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="field" required>

                <label for="email">Email</label>
                <input type="email" name="email" id="name" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="name" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign up" class="btn">
            </form>
        </div>

        <div class="card">
            <h1 class="center">Log in</h1>
            <form name="login_form">
                <label for="email">Email</label>
                <input type="email" name="email" id="name" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="name" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Log In" class="btn">
            </form>
        </div>
    </div>
{% endblock %}